<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p style="color:red">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}   
    <div class="container">
        <div class="registration">
            <h1>Register</h1>
            <form action="/register" method="POST">
                <div>
                    <label for="first_name">First Name: </label>
                    <input type="text" name="first_name" id="first_name">
                </div>
                <div>
                    <label for="last_name">Last Name: </label>
                    <input type="text" name="last_name" id="last_name">
                    <div>
                        <label for="email">Email: </label>
                        <input type="text" name="email" id="email">
                    </div>
                    <div>
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div>
                        <label for="confirm_password">Confirm Password: </label>
                        <input type="password" name="confirm_password" id="confirm_password">
                    </div>
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="login">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div>
                    <label for="email">Email: </label>
                    <input type="text" name="email" id="email">
                </div>
                <div>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password">
                </div>
                <button type="submit"  >Login</button>
            </form>
        </div>
    </div>
</body>
</html>